<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-dark">
      <div class="navbar-header">
        <!-- This is for the sidebar toggle which is visible on mobile only -->
        <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
          <i class="ti-menu ti-close"></i>
        </a>
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <a class="navbar-brand" href="/">
          <!-- Logo icon -->
          
          <!--End Logo icon -->
          <!-- Logo text -->
          <span class="logo-text h-75 w-75 m-auto">
            <!-- dark Logo text -->
            <!-- Light Logo text -->
            <p class="font-weight-bold text-white font-20">Web Shop</p>
          </span>
        </a>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Toggle which is visible on mobile only -->
        <!-- ============================================================== -->
        <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
          data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <i class="ti-more"></i>
        </a>
      </div>
      <!-- ============================================================== -->
      <!-- End Logo -->
      <!-- ============================================================== -->
      <div class="navbar-collapse collapse" id="navbarSupportedContent">
        <!-- ============================================================== -->
        <!-- toggle and nav items -->
        <!-- ============================================================== -->
        <div class="navbar-nav float-left mr-auto w-75">
          
              <div class="form-group row align-items-center m-b-0 w-100">
                  <label class="col-md-3 text-right control-label col-form-label">Search</label>
                  <div class="col-md-9 p-b-10 p-t-10">
                      <div class="row">
                          <div class="col-md-9 p-b-10 p-t-10">
                              <input type="text" id="seach-field" class="form-control" name="ProductName" placeholder="Name">
                          </div>
                          <div class="col-md-3 p-b-10 p-t-10">
                              <button type="submit"  id="search-btn" class="btn btn-info waves-effect waves-light w-50">Search</button>
                          </div>
                      </div>
                  </div>
              </div>
            
        </div>
        
        <!-- <ul class="navbar-nav float-left mr-auto">
          <form action="">
            <li class="nav-item">
                <label for="fullname" class="col-sm-3 text-right control-label col-form-label">Full Name</label>
            </li>
            <li class="nav-item">
                <input type="text" class="form-control" id="fullname" placeholder="Full Name Here">
            </li>

          </form>
            <div class="row ml-5">
                <form action="">
              <div class="col-10">
                  <div class="form-group row">
                      
                      <div class="col-sm-9">
                         
                      </div>
                  </div>
              </div>
              <div class="col-2">
                  <button type="submit" class="btn btn-info">Search</button>
              </div>
            </form>
            </div>
            
            
         
        </ul> -->
        <!-- ============================================================== -->
        <!-- Right side toggle and nav items -->
        <!-- ============================================================== -->
        <ul class="navbar-nav float-right">
          <li class="nav-item">
            <a class="nav-link waves-effect waves-dark text-muted" href="/user/cart/" role="button">
              <i class="ti-shopping-cart font-20"></i>
            </a>
          </li>          
          <!-- ============================================================== -->
          <!-- User profile and search -->
          <!-- ============================================================== -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href=""
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="ti-user font-20 rounded-circle" alt="user" width="31"></i>
              
            </a>
            <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY border">
              <a class="dropdown-item" href="/user/profile">
                <i class="ti-user m-r-5 m-l-5"></i> My Profile</a>
              <a class="dropdown-item" href="/user/orders">
                <i class="ti-wallet m-r-5 m-l-5"></i> My Orders</a>
              <a class="dropdown-item" href="/user/cart">
                <i class="ti-shopping-cart m-r-5 m-l-5"></i> Shopping Cart</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout">
                <i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
            </div>
          </li>
          <!-- ============================================================== -->
          <!-- User profile and search -->
          <!-- ============================================================== -->
        </ul>
      </div>
    </nav>
  </header>