<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">               
                <li class="sidebar-item mt-5">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <span class="hide-menu">Shoes</span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item">
                            <a href="/products/Shoes/Running" class="sidebar-link">
                                <i class="icon-Record"></i>
                                <span class="hide-menu"> Running </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/products/Shoes/Sneakers" class="sidebar-link">
                                <i class="icon-Record"></i>
                                <span class="hide-menu"> Sneakers </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/products/Shoes/Business Shoes" class="sidebar-link">
                                <i class="icon-Record"></i>
                                <span class="hide-menu"> Business Shoes </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/products/Shoes/Boots" class="sidebar-link">
                                <i class="icon-Record"></i>
                                <span class="hide-menu"> Boots </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <span class="hide-menu">Pants</span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item">
                            <a href="/products/Pants/Jeans" class="sidebar-link">
                                <i class="icon-Record"></i>
                                <span class="hide-menu"> Jeans </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/products/Pants/Sweat Pants" class="sidebar-link">
                                <i class="icon-Record"></i>
                                <span class="hide-menu"> Sweat Pants </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/products/Pants/Leggings" class="sidebar-link">
                                <i class="icon-Record"></i>
                                <span class="hide-menu"> Leggings </span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">                              
                        <span class="hide-menu">Tops</span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item">
                            <a href="/products/Top/Shirts" class="sidebar-link">
                                <i class="icon-Record"></i>
                                <span class="hide-menu"> Shirts</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/products/Top/T-shirts" class="sidebar-link">
                                <i class="icon-Record"></i>
                                <span class="hide-menu"> T-shirts </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/products/Top/Sweater" class="sidebar-link">
                                <i class="icon-Record"></i>
                                <span class="hide-menu"> Sweater </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/products/Top/Hoodie" class="sidebar-link">
                                <i class="icon-Record"></i>
                                <span class="hide-menu"> Hoodie </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>